# <u><h1><center><font color = darkgreen>INVESTIGATION OF TMDb MOVIE DATA</font></center></h1></u>
### This data set contains information about 10,000 movies collected from The Movie Database (TMDb), including user ratings and revenue.

# <u><font color = brown>CONTENTS:</font></u>
## 1. <a href="#aim"><font color = red>AIM</font></a>
## 2. <a href="#clean"><font color = red>CLEANING DATA</font></a>
## 3. <a href="#explor"><font color = red>EXPLORATORY ANALYSIS</font></a>
## 4. <a href="#concl"><font color = red>CONCLUSIONS</font></a>
## 5. <a href="#lim_n_fu"><font color = red>LIMITATIONS AND FUTURE WORK</font></a>

<a id='aim'></a>
## 1. <u><font color = red>AIM</font></u>
### To investigate the TMDb movie data and answer the following questions through exploratory data analysis.


## <font color = magenta><u>Questions</u>:</font>
### <font color = magenta>Q1. Which are the three most and least popular genres of each decade?</font>  
### <font color = magenta>Q2. What characteristics distinguish the top 10% profitable movies (all time) from the bottom 10% ?</font>

<a id='step1'></a>
### <font color = magenta><u>Step 1</u>:</font>  Create a pandas Dataframe ("tmd") to export the provided TMDb movie data csv file.

In [14]:
# import packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# display plots within the notebook
%matplotlib inline 

# to make plots interactive
# %matplotlib notebook

# style of plot
plt.style.use('ggplot')

# to display outputs of all executed lines within a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" 

# to generate high quality plots
%config InlineBackend.figure_formats = ['svg']

sns.set(rc={"figure.dpi":100, 'savefig.dpi':300})
sns.set_context('notebook')
sns.set_style("ticks")

In [15]:
# create a pandas Dataframe (table) 

tmd = pd.read_csv('tmdb-movies.csv')

<a id='step2'></a>
### <font color = magenta><u>Step 2</u>:</font> Conduct a preliminary exploration of the table ("tmd").

In [16]:
# Basic details about "tmd" contents are studied

print('\033[4m' +'\033[1m' + 'Basic information about "tmd" is provided in this step' \
      + '\033[0m' + '\033[0m' + ' :')

Basic information about "tmd" is provided in this step :

In [17]:
# display the first and last three rows of tmd

print('\033[4m' +'\033[1m' + 'First three rows of "tmd"' + '\033[0m' + '\033[0m' + ' :')

tmd.head(3)

print('\033[4m' +'\033[1m' + 'Last three rows of "tmd"' + '\033[0m' + '\033[0m' + ' :')

tmd.tail(3)

First three rows of "tmd" :

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08

Last three rows of "tmd" :

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
10863,39768,tt0060161,0.065141,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,NaN,Eldar Ryazanov,NaN,...,An insurance agent who moonlights as a carthie...,94,Mystery|Comedy,Mosfilm,1/1/66,11,6.5,1966,0.000000,0.0
10864,21449,tt0061177,0.064317,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,NaN,Woody Allen,WOODY ALLEN STRIKES BACK!,...,"In comic Woody Allen's film debut, he took the...",80,Action|Comedy,Benedict Pictures Corp.,11/2/66,22,5.4,1966,0.000000,0.0
10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/66,15,1.5,1966,127642.279154,0.0

In [18]:
# display range of row index, column index and name, data type, and number of non-null values 

print('\033[4m' +'\033[1m' + 'Range of row index, column index and name, data type, \
      and number of non-null values in "tmd"' + '\033[0m' + '\033[0m' + ' :')

tmd.info()

Range of row index, column index and name, data type,       and number of non-null values in "tmd" :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

In [19]:
# display summary statistics of tmd columns with numerical values

print('\033[4m' +'\033[1m' + 'Summary statistics of "tmd"' + '\033[0m' + \
      '\033[0m' + ' :')

tmd.describe()

Summary statistics of "tmd" :

,id,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj
count,10866.000000,10866.000000,1.086600e+04,1.086600e+04,10866.000000,10866.000000,10866.000000,10866.000000,1.086600e+04,1.086600e+04
mean,66064.177434,0.646441,1.462570e+07,3.982332e+07,102.070863,217.389748,5.974922,2001.322658,1.755104e+07,5.136436e+07
std,92130.136561,1.000185,3.091321e+07,1.170035e+08,31.381405,575.619058,0.935142,12.812941,3.430616e+07,1.446325e+08
min,5.000000,0.000065,0.000000e+00,0.000000e+00,0.000000,10.000000,1.500000,1960.000000,0.000000e+00,0.000000e+00
25%,10596.250000,0.207583,0.000000e+00,0.000000e+00,90.000000,17.000000,5.400000,1995.000000,0.000000e+00,0.000000e+00
50%,20669.000000,0.383856,0.000000e+00,0.000000e+00,99.000000,38.000000,6.000000,2006.000000,0.000000e+00,0.000000e+00
75%,75610.000000,0.713817,1.500000e+07,2.400000e+07,111.000000,145.750000,6.600000,2011.000000,2.085325e+07,3.369710e+07
max,417859.000000,32.985763,4.250000e+08,2.781506e+09,900.000000,9767.000000,9.200000,2015.000000,4.250000e+08,2.827124e+09

In [20]:
# display number of unique values in each columns for "tmd"

print('\033[4m' +'\033[1m' + 'Number of unique values in each column of "tmd"' + \
      '\033[0m' + '\033[0m' + ' :')

tmd.nunique()

Number of unique values in each column of "tmd" :

id                      10865
imdb_id                 10855
popularity              10814
budget                    557
revenue                  4702
original_title          10571
cast                    10719
homepage                 2896
director                 5067
tagline                  7997
keywords                 8804
overview                10847
runtime                   247
genres                   2039
production_companies     7445
release_date             5909
vote_count               1289
vote_average               72
release_year               56
budget_adj               2614
revenue_adj              4840
dtype: int64

In [21]:
# display number of null values in each column of tmd

print('\033[4m' +'\033[1m' + 'Number of null values in each column of "tmd"' + \
      '\033[0m' + '\033[0m' + ' :')

tmd.isnull().sum()

Number of null values in each column of "tmd" :

id                         0
imdb_id                   10
popularity                 0
budget                     0
revenue                    0
original_title             0
cast                      76
homepage                7930
director                  44
tagline                 2824
keywords                1493
overview                   4
runtime                    0
genres                    23
production_companies    1030
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
dtype: int64

In [22]:
# display number of zero values in each column of tmd

print('\033[4m' +'\033[1m' + 'Number of zero values in each column of "tmd"' + '\033[0m' + \
      '\033[0m' + ' :')

tmd.isin([0]).sum()

Number of zero values in each column of "tmd" :

id                         0
imdb_id                    0
popularity                 0
budget                  5696
revenue                 6016
original_title             0
cast                       0
homepage                   0
director                   0
tagline                    0
keywords                   0
overview                   0
runtime                   31
genres                     0
production_companies       0
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj              5696
revenue_adj             6016
dtype: int64

### <a href="#ob1"><font color = magenta><u>Observation 1</u></font></a> :

### <font color = magenta>1.1</font>  The csv file has been successfully extracted to a pandas dataframe. 
### <font color = magenta>1.2</font>  There appears to be many null and zero values in various columns; which should be removed during the cleaning step. 
### <font color = magenta>1.3</font> Also, as there are non-unique values in various columns, we should check for duplicates.
### <font color = magenta>1.4</font>  Between "id" and "imdb_id", the latter can be dropped as it has null values, and as there is no added advantage in keeping both ids to answer our questions.
### <font color = magenta>1.5</font>  Columns "budget" and "revenue" can be dropped as "budget_adj" and "revenue_adj" provide similar but better information (these are inflation adjusted) for analysis.
### <font color = magenta>1.6</font>  Columns "homepage", "tagline", "keywords" and "overview" can be dropped as they contribute to little or no information during analysis.
### <font color = magenta>1.7</font> To answer the first question ( <font color = magenta>Q1:  Which are the three most and least popular genres of each decade?</font>), columns "id", "popularity", "original_title", "genres" and "release_year" are sufficient. However, for analysis, multiple genre combination provided in "genres" column (each separated by "|") should be split into individual rows for each genre.
### <font color = magenta>1.8</font> To answer the second question ( <font color = magenta>Q2 : What characteristics distinguish the top 10% profitable movies (all time) from the bottom 10% ?</font>), all columns except those dropped in 1.4 - 1.6 will be needed.
### <font color = magenta>1.9</font> Thus, as per 1.7 and 1.8, to answer Q1 and Q2, we will create two different dataframes; and thereafter clean each of them separately. 
### <font color = magenta>1.10</font> Before beginning any manipulation, as a first step, we should remove duplicate rows wherein all column values are duplicated.

<a id='step3'></a>
### <font color = magenta><u>Step 3</u>:</font> Check for duplication of rows in the original dataframe ("tmd").

In [23]:
# display total number of duplicates

print('\033[4m' +'\033[1m' + 'Total number of duplicates' + '\033[0m' + \
      '\033[0m' + ' :')

tmd.duplicated().sum()

Total number of duplicates :

1

In [24]:
# display the duplicated rows 

print('\033[4m' +'\033[1m' + 'Duplicated rows' + '\033[0m' + '\033[0m' + ' :')

tmd[tmd.duplicated(keep = False)]

Duplicated rows :

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
2089,42194,tt0411951,0.59643,30000000,967000,TEKKEN,Jon Foo|Kelly Overton|Cary-Hiroyuki Tagawa|Ian...,NaN,Dwight H. Little,Survival is no game,...,"In the year of 2039, after World Wars destroy ...",92,Crime|Drama|Action|Thriller|Science Fiction,Namco|Light Song Films,3/20/10,110,5.0,2010,30000000.0,967000.0
2090,42194,tt0411951,0.59643,30000000,967000,TEKKEN,Jon Foo|Kelly Overton|Cary-Hiroyuki Tagawa|Ian...,NaN,Dwight H. Little,Survival is no game,...,"In the year of 2039, after World Wars destroy ...",92,Crime|Drama|Action|Thriller|Science Fiction,Namco|Light Song Films,3/20/10,110,5.0,2010,30000000.0,967000.0

In [25]:
# remove duplicate row

print('\033[1m' + 'One of the duplicates is removed.' + '\033[0m')

tmd.drop([tmd[tmd.duplicated() == True].index[0]], axis = 0, inplace = True)

One of the duplicates is removed.

In [26]:
# testing if duplicated row was removed

print('\033[1m' + 'Cross-checked if the duplicate row is removed.' + '\033[0m')

tmd.duplicated().sum()

Cross-checked if the duplicate row is removed.

0

In [27]:
# reset the row index of table

print('\033[1m' + 'Row index are reset after removal of the duplicate rows.' \
      + '\033[0m')

tmd.reset_index(drop = True, inplace = True)

Row index are reset after removal of the duplicate rows.

In [28]:
# number of rows in the table is reduced by one as shown below

print('\033[1m' + 'Number of rows are reduced after removal of duplicates.' + \
      '\033[0m')

tmd.shape[0]

Number of rows are reduced after removal of duplicates.

10865